@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}

/* div, section, footer, header,article, aside{
  border: 1px solid #ad8d8d;
} */
:root {
  --spacing: 1px;
}


body {
  font-family: Inter, Helvetica, sans-serif;
  min-height: 100vh;
  
}


main, div, section, footer, header,article, aside{
  display: flex;
}

.on_surface_white { color: #EAE5E5 }
.on_surface_gray { color: #565656 }
.on_surface_light_gray { color: #A0A0A0 }
.c_border { color: #565656 }
.surface { background-color: #eee; }

.scrollbar-none::-webkit-scrollbar { display: none; }
.scrollbar-none { scrollbar-width: none; }